/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Root Variables and Styling */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

/* Additional Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* You can add more custom CSS or utilities here */


.game-container {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 600px; /* Adjust as needed */
}
.game-grid, .player-avatar, .boss-sprite {
  position: absolute;
}
.player-avatar, .boss-sprite {
  cursor: pointer; /* If they are interactive */
}
/* Add more styles as needed */
