/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Root Variables and Styling */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

/* Additional Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* You can add more custom CSS or utilities here */


.game-container {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 600px; /* Adjust as needed */
}
.game-grid, .player-avatar, .boss-sprite {
  position: absolute;
}
.player-avatar, .boss-sprite {
  cursor: pointer; /* If they are interactive */
}


/* Add more styles as needed */
@media (max-width: 600px) {
  .vision-page h1 {
    font-size: 3xl; /* Adjust the size as needed */
  }
}

/* Phaser Game Container */
#phaser-game-container {
  position: relative;
  z-index: 10; /* Above WallpaperEngine, adjust as needed */
}

/* Phaser Game Canvas Style */
#phaser-game-container canvas {
  max-width: 100%; /* Ensures canvas does not exceed container width */
  max-height: 100vh; /* Ensures canvas does not exceed viewport height */
  object-fit: contain; /* Keeps aspect ratio while filling container */
}

/* Custom Styles for Vision Page */
.vision-main {
  padding: 2rem; /* Adjust as needed */
  max-width: 1200px; /* Adjust as needed */
  margin: auto;
}

.vision-section {
  margin-bottom: 3rem; /* Consistent spacing between sections */
}

.vision-heading {
  font-size: 2.5rem; /* Adjust font size for headings */
  margin-bottom: 1rem; /* Space between heading and text */
}

.vision-text {
  font-size: 1.1rem; /* Adjust font size for text */
}

@media (max-width: 600px) {
  .vision-heading {
    font-size: 2rem; /* Smaller font size for mobile */
  }
}